$navbar-height: 32px;
$navbar-padding: 8px;
$navbar-outer-height: $navbar-height + $navbar-padding * 2;
$fixed-article-nav-height: 180px;
$navbar-height: 48px;
$fixed-article-nav-padding-top: 20px;
$content-para-width: 620px;
