body {
  color: #333;
  background-color: $color-bg;
}

.navbar.special-feature {
  margin-bottom: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  padding: 8px 0px;
  @include transform(translateZ(0));
  .brand {
    margin-left: 5px;
    width: 200px;
    &.brand-center {
      position: absolute;
      left: 0;
    }
  }
}

.article-title-container {
  display: block;
  width: 400px;
  margin: 0 auto;
  position: relative;
  opacity: 0.1;
  cursor: pointer;
  @include transition(opacity 0.75s ease-in-out);
  &.visible,
  &:hover,
  &.child-nav-visible {
    opacity: 1;
  }
  &.visible {
    @include transition(opacity 2s ease-in-out);
  }

  // burgertron
  .burger {
    font-size: 1.8em;
    margin: 0 0 0 8px;
    color: $color-text;
  }
}

.article-title {
  font-size: 1.6em;
  line-height: 32px;
  color: $color-text;
  font-family: $font-family-sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .2em;
}

.article-nav-container {
  text-align: left;
  $fixed-article-nav-height: 180px;
  $navbar-height: 48px;
  $fixed-article-nav-padding-top: 20px;
  @include clearfix;
  &.fixed {
    background-color: $accent-color-dark;
    position: fixed;
    width: 100%;
    height: $fixed-article-nav-height;
    // Initialise outside the viewport, inline css takes over afterwards
    top: -9999px;
    z-index: 3;
    @include transform(translateZ(0));
    @include transition(top 0.5s ease-in-out);
    padding-top: $fixed-article-nav-padding-top;
    &.visible {
      top: $navbar-height;
      @include box-shadow(0 2px 10px $color-text);
    }
  }

  &.footer {
    color: #333;
    padding: 6em 0;

    .nav {
      li a { border-right-color: $accent-color-primary; }
      li:first-child a { border-left-color: $accent-color-primary; };
    }

    .overlay-coming-soon { color: $gray; }

    .article-nav .article-nav-title { color: $accent-color-dark; }

    .nav-extra {
      a, p {
        color: #333;
      }
      a:hover {
        color: $accent-color-dark;;
      };
      .title {
        color: $accent-color-dark;;
      }
    }
  }

  .nav {
    width: 58%;
    float: left;
    margin: 0;
    li a {
      border-right: 1px dotted $accent-color-trsp;
      &,
      &:hover {
        background-color: transparent !important;
      }
    }
      li:first-child a {
        border-left: 1px dotted $accent-color-trsp;        
      };
  }

  .nav-extra {
    font-size: 1.4em;
    font-family: $font-family-sans-serif;
    color: $accent-color-light;
    width: 21%;
    float: left;
    position: relative;
    margin: 0;
    padding: 0;
    p {
      padding: 0 1em 1em 1em;
    }
    .title {
      text-transform: uppercase;
      font-weight: bold;
      color: $accent-color-primary;
      letter-spacing: 0.1em;
      padding: 0 1em 0em 1em;
    }
    a {
      color: $accent-color-light;
      background-color: transparent;
      text-transform: uppercase;
      font-size: 90%;
      letter-spacing: 1px;
      font-weight: bold;
      text-decoration: none;
      &:hover {
        color: $accent-color-primary;
      };
      i {
        font-size: 120%;
        margin-right: 4px;
      }
    }
  }

  .about-the-series {
    height: $fixed-article-nav-height - 40px;
  }

  .appendix {
    .title {
      font-weight: normal;
    }
    list-style: none;
    li {
      padding: 0 1em 0.5em 1em;
      &:first-child {
        padding: 0;
      }
    }
  }
  .overlay-anchor,
  .overlay-coming-soon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .overlay-coming-soon {
    color: $accent-color-light;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    top: 52%;
    letter-spacing: 1px;
    left: 10%;
    width: 80%;
    height: 60%;
    opacity: 0.4;
    font-size: 1.2em;
  }
}

.article-nav {
  width: 28%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  // background: red;
  height: 100%;
  position: relative;
  float: left;
  .article-nav-title {
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: normal;
    color: $accent-color-primary;
    letter-spacing: 0.1em;
    margin-bottom: 1em;
    display: block;
  }
  .article-nav-subtitle {
    font-family: $font-family-serif;
  }

  &.inactive {
    .overlay-anchor {
        cursor: default;
      }

    .article-nav-title {
      color: $gray-light !important;
      opacity: 0.7;
    }
    .image {
      opacity: 0.3;
    }

  }
}

.introduction .article-nav-container.footer {
  color: $accent-color-light;

  .nav {
    li a { border-right-color: $accent-color-trsp; }
    li:first-child a { border-left-color: $accent-color-trsp; };
  }

  .overlay-coming-soon {
    color: $accent-color-light;
    opacity: 0.4;
  }

  .nav-extra {
    a, p {
      color: $accent-color-light;
    }
    a:hover {
      color: $accent-color-primary;
    };
    .title {
      color: $accent-color-primary;
    }
  }
}


#main {
  // Spacer for the sticky navbar
  margin-top: 48px;
}

body.loading {
  background: #333;
  overflow: hidden;
  #main,
  .navbar.special-feature,
  .article-nav-container {
    visibility: hidden;
  }
  .pre-load-background {
    display: block;
  }
}


.pre-load-background {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(/images/loader.svg) center center no-repeat transparent;
  background-size: 60px auto;
  @include animation(spin 2s infinite linear);
}

::selection {
  background: $accent-color-primary;
  color: $accent-color-light;
  text-shadow: none;
}
::-moz-selection {
  background: $accent-color-primary;
  color: $accent-color-light;
  text-shadow: none;
}
