// variable for breakpoints
$smaller-width:  680px;    // -phones
$small-width:    780px;    // -big phones, small tablets
$med-width:      980px;    // -portrait tablets
$big-width:      1120px;   // -landscape tablets, smaller screens
$bigger-width:   $big-width + 1px;   // -big screens (default, used as min-width)

$med-screen-margin: 20px;
$sml-screen-margin: 10px;

@mixin responsive-bg($img-name) {
  $img-base: "/images/#{$img-name}-size";
  // default to the largest image
  background-image: url("#{$img-base}5.jpg");
  //    @media only screen and (min-width: $bigger-width)  { background-image: url("${img-base}5.jpg"); }
  @media only screen and (max-width: $big-width)     { background-image: url("#{$img-base}4.jpg"); }
  @media only screen and (max-width: $med-width)     { background-image: url("#{$img-base}3.jpg"); }
  @media only screen and (max-width: $small-width)   { background-image: url("#{$img-base}2.jpg"); }
  @media only screen and (max-width: $smaller-width) { background-image: url("#{$img-base}1.jpg"); }
}

@mixin responsive-bg-in-article($img-name) {
  $img-base: "/images/#{$img-name}-size";
  // default to the largest image
  background-image: url("#{$img-base}4.jpg");
  @media only screen and (max-width: $med-width)     { background-image: url("#{$img-base}3.jpg"); }
  @media only screen and (max-width: $small-width)   { background-image: url("#{$img-base}2.jpg"); }
  @media only screen and (max-width: $smaller-width) { background-image: url("#{$img-base}1.jpg"); }
}

@media only screen and (max-width: $big-width) {
	.content {
		padding-top: 0;
		.pull-quote.pull-left 	{ margin-left: $med-screen-margin; }
		.pull-quote.pull-right  { margin-right: $med-screen-margin; }
		.pull-quote.large-image { max-width: 94%; }
		.pull-quote.text 		{ max-width: 94%; }
	}
	.next-chapter { 
		max-width: 94%; 
		margin: 0 auto;
	}
}

// Portrait tablets
@media only screen and (max-width: $med-width) {
	.content {
		.pull-quote.text p { 
			font-size: 1.4em; 
			br { display: none; }
		}
	}

}

// Big phones, small tablets
@media only screen and (max-width: $small-width) {

	.article-header {
		padding: $med-screen-margin;
		
		.header {
			margin-top: 0;
			margin-bottom: .5em;
		}

		.byline {
			/* font-size: .8em; */
		}

		.author {
			padding: 1em 0;
			margin: 0;
			font-size: .7em;
			&:before { display: none; }
		}
	}

	.content {
		/* .font-size(16);*/
		.pull-quote.text p { 
			font-size: 1.4em; 
			padding: 1em 0;
		}
		.pull-quote.text,
		.pull-quote.pull-left,
		.pull-quote.pull-right,
		.pull-quote.large-image {
			max-width: none;
			float: none;
			margin-left: $med-screen-margin;
			margin-right: $med-screen-margin;
			margin-bottom: 1em;
		}
		.pull-quote .paragraph-container {
			& p, & .caption {
				font-size: 0.8em;
				margin: 0.5em 0.7em;
			}
		}

		p {
			/*.font-size(16); */
			margin-bottom: 0.75em;
		}
	}
}

// Phones
@media only screen and (max-width: $smaller-width) {
}
