// TGM Special Features Header

// COMMON STYLES
// -------------

$tgm-logo-path: "/images/tgm-strip-logo-masthead.png";

// Inner for background effects
// Gradient is applied to its own element because overflow visible is not honored by IE when filter is present
.navbar-inner {
  background: $navbar-default-bg;
  @include box-shadow(none);
}

.navbar-fixed-top,
.navbar-static-top {
  .navbar-inner {
    border-bottom: none;
    border-bottom: none;
    background-clip: padding-box;
    @include box-shadow(0 0 10px rgba(0,0,0,.5));
  }
}

// Links
.navbar .nav > li > a {
  font-weight: bold;
}

// Active nav items
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: $navbar-default-link-active-color;
  text-decoration: none;
  background-color: $navbar-default-link-active-bg;
  @include box-shadow(none);
}

// TGM Special Feature Banner
.navbar.special-feature {
  margin-bottom: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  padding: 8px 0px;
  background-color: $navbar-bg-color;
  .brand {
    @include hide-text;
    display: block;
    background-size: contain;
    background: transparent url("#{$tgm-logo-path}") center center no-repeat;
    width: 390px;
    height: 32px;
    padding: 0;
    margin: 0;

    &.brand-center {
      margin: 0 auto;
      float: none;
    }
  }

  .article-title-container {
    display: block;
    width: 400px;
    margin: 0 auto;
    position: relative;
    opacity: 0.1;
    cursor: pointer;
    @include transition(opacity 0.75s ease-in-out);
    &.visible,
    &:hover,
    &.child-nav-visible {
      opacity: 1;
    }
    &.visible {
      /* @include transition(opacity 2s ease-in-out); */
    }

    // burgertron
    .burger {
      font-size: 1.8em;
      margin: 0 0 0 8px;
      color: $accent-color-light;
    }
  }

  .article-title {
    font-size: 1.6em;
    line-height: 32px;
    color: $accent-color-light;
    font-family: $font-family-sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .2em;
  }

  .article-nav-container {
    text-align: left;
    $fixed-article-nav-height: 180px;
    $navbar-height: 48px;
    $fixed-article-nav-padding-top: 20px;
    /* @include clearfix; */
    &.fixed {
      background-color: $accent-color-trsp;
      position: fixed;
      width: 100%;
      height: $fixed-article-nav-height;
      // Initialise outside the viewport, inline css takes over afterwards
      top: -9999px;
      z-index: 3;
      @include transform(translateZ(0));
      /*@include transition(top 0.5s ease-in-out);*/
      padding-top: $fixed-article-nav-padding-top;
      &.visible {
        top: $navbar-height;
        /*@include box-shadow(0 2px 10px $trspBlack);*/
      }
    }
  }

  .special-feature-misc {
    position: absolute;
    right: 24px;
    top: 13px;
    color: $gray-light;

    .special-feature-links {
      margin-right: 6px;
      border: 1px solid rgba(255, 255, 255, 0.1);
      /* @include border-radius(4px); */
      ditsplay: inline-block;
      position: relative;
      top: -4px;
      a {
        display: block;
        text-transform: uppercase;
        font-weight: normal;
        font-size: 11px;
        padding: 4px 10px 5px 10px;
        color: white;
        margin: 0;
        line-height: 1.0;
        border-left: 1px solid rgba(255, 255, 255, 0.1);
        &:first-child {
          border-left: none;
        }

        &:hover, &:focus, &:active {
          @include opacity(60);
          text-decoration: none;
        }
      }
    }

    .share-button {
      display: inline-block;
      vertical-align: top;
      // force all buttons to the same height so they're vertically aligned
      height: 23px;
      width: 80px;
      overflow: visible;
      &.facebook {
        // Fixing a bug where the FB like
        // button is ~30px offset to the right
        text-align: left;
        .ie8 &,
        .lt-ie9 &, {
          text-align: center;
        }
      }
    }
  }
}

// Large tablet
@media only screen and (max-width: 1050px) {
  .navbar .navbar-inner {
    .brand {
      font-size: 380%;
      margin-top: 42px;
    }

    .nav > li > a {
      width: 200px;
      padding-top: 54px;
    }
  }
}

// Small tablet
@media only screen and (max-width: 750px) {
  .navbar.special-feature {
    padding: 0 20px;

    .tgm {
      width: 195px;
    }
  }
}

// Phones
@media only screen and (max-width: 550px) {
  .navbar.special-feature {
    text-align: center;

    .special-feature-misc {
      display: none;
    }
  }
}
