// TGM fontstacks
$font-family-sans-serif: "open-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: "ff-meta-serif-web-pro", Georgia, "Times New Roman", Times, serif;

$par-font-size: 20;
$par-font-size-px: 20px;

